@charset "UTF-8";
html {
    display: block;
}
body {
    display: block;
    margin: 0;
    padding: 0;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
    -webkit-background-size: 100% 100%;
    -moz-background-size: 100% 100%;
    -o-background-size: 100% 100%;
    background-size: 100% 100%;
    background-attachment: fixed;
    content: '';
    background: #e9ebec;
}

::selection {
    color:#FFFFFF;
    background:#262a30;
    text-shadow:none;
}
::-moz-selection {
    color:#FFFFFF;
    background:#262a30;
    text-shadow:none;
}
*[hidden] {
    display: none!important;
}



.recent-post-item {
    width: calc(100% - 16px);
    min-height: 160px;
    margin: 0 auto 20px;
    background: #fff;
}